.back-to-amazon-link {
  color: rgb(0, 113, 133);
  cursor: pointer;
}

.back-to-amazon-link:hover {
  color: red;
}

.product-name-text {
  font-weight: bold;
  font-size: 20px;
}

.price-avaibility-text {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.add-to-cart-button {
  background-color: rgb(255, 216, 20);
  width: 120px;
  height: 33px;
  border-radius: 16px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.add-to-cart-button:hover {
  background-color: rgb(231, 197, 23);
}

.add-to-cart-button:active {
  opacity: 0.7;
}

.buy-now-button {
  background-color: rgb(255, 164, 28);
  width: 120px;
  height: 33px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s;
}

.buy-now-button:hover {
  background-color: rgb(236, 153, 27);
}

.buy-now-button:active {
  opacity: 0.7;
}